@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: 'Segoe UI', sans-serif;
  --main: #ef4444;
  --accent: #10b981;
}
body {
  background-color: #f1f5f9;
  font-family: 'Segoe UI', sans-serif;
}
.card {
  background: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 0 #000;
}
.form-input {
  border: 2px solid #000;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.form-label {
  font-weight: 600;
}