.dashboard {
  padding: 20px;
}

.dashboard section {
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.introBackground {
  background-color: #ffd8db;
}

.activitiesBackground {
  background-color: #e0b8b8;
}

.productsBackground {
  background-color: #ffd8db;
}

.dashboard h2, .dashboard h3 {
  color: #562634;
  margin-top: 0;
  margin-bottom: 15px;
}

/*Style Bagian Selamat Datang */
.introSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.introContent {
  flex: 1;
}

.introSection p {
  line-height: 1.6;
  color: #562634;
}

.introImage {
  max-width: 200px; 
  height: auto; 
  margin-left: 20px; 
}

.todayActivities ul { 
  list-style: none;
  padding: 0;
}

.activityItem {
  background-color: #faf9f9;
  padding: 10px 15px;
  margin-bottom: 8px;
  border-left: 5px solid #cd545c;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.activityTime {
  font-weight: bold;
  margin-right: 10px;
  color: #cd545c;
}